/* Styles spécifiques au footer */
.footer-container {
    background-color: #333; /* Couleur de fond du footer */
    color: white; /* Couleur du texte */
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Distribution égale de l'espace autour des éléments */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    height: 400px;
}

.footer-section {
    margin: 10px;
    flex: 1; /* Permet aux sections de s'étendre et de prendre de l'espace disponible */
    min-width: 150px; /* Largeur minimale pour chaque section */
}

/* Style pour les titres dans le footer */
.footer-section h3, .footer-section p {
    margin: 5px 0; /* Espacement entre les éléments */
}

/* Styles pour le texte et les liens dans le footer */
.footer-section p, 
.footer-section a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

/* Hover effect pour les liens */
.footer-section a:hover {
    color: #ff9800;
    text-decoration: underline; /* Soulignement au survol */

}

/* Style pour le formulaire de contact dans le footer */
footer form {
    display: grid;
    gap: 1em;
    align-items : center;
    justify-content : center;
}

footer input[type="text"], 
footer input[type="email"], 
footer textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer input[type="submit"] {
    background-color: #ff9800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

footer input[type="submit"]:hover {
    background-color: #f57c00;
}

/* Styles pour les icônes de réseaux sociaux */
.social-icons img {
    width: 40px; /* Taille des icônes */
    margin: 5px;
}

/* Responsive design pour le footer */
@media (max-width: 1px) {
    .footer-section {
        text-align: left;
    }
}

@media (max-width: 480px) {
    .footer-section {
        width: 100%;
        text-align: center;
    }

    .footer-container {
        padding: 10px;
    }
}