<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Toast Notification 01</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='CSS/notif.css') }}"
    />
    {% if message.type == 'error' %}
    <meta http-equiv="refresh" content="3;url={{ url_for('connexion') }}" />
    {% else %}
    <meta http-equiv="refresh" content="3;url={{ url_for('index') }}" />
    {% endif %}
  </head>
  <body>
    <div class="notification {{ message.type }}">
      <div class="notification__body">
        <img
          src="{{ url_for('static', filename='Images/' + message.icon) }}"
          alt="{{ message.alt }}"
          class="notification__icon"
        />
        {{ message.text }}
      </div>
      <div class="notification__progress"></div>
    </div>
  </body>
</html>
